# Ignore python cache
__pycache__/

# virtualenv
env/
venv/
.venv

# Tests cache
.pytest_cache/

# Vscode settings
.vscode/

# Ignore intellij Files (PyCharm)
.idea

# Ignore spyder Files
.spyproject/

# Ignore ds store files
.DS_STORE

# Backup files
*.bak

# Personal TODO files
TODO

# Build and package files
build/
ProjectQuickstart.egg-info/